  .Main-Container{

            background-color: #f5f5f5;
            padding: 40px;
        }
        .box{
            background-color: white;
            /* padding: 60px; */
          
        }
        .Testimonial{
            padding: 15px;
            border: 1px solid white;
        }
       
        .author{
            text-align: right !important;
            font-style: italic;
        }